#hero-block {
    background: linear-gradient(rgba(255, 255, 255, 0.7), white 75%);
    position: relative;
}

#hero-block:after {
    content: "";
	background: url(../images/index-photo.png) no-repeat;
	background-size: cover;
    /* opacity: 0.5; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.card {
    border: 1px solid #DDD;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
}

.donation-card{
     margin-top:20px;
}