.type-profile{
	background-color:  #337ab7;
	display: inline;
	margin-left: 30px;
	padding: 4px 4px 4px 4px;
}

.type-follow{
	background-color:#d50000;
	display: inline;
	margin-left: 30px;
	padding: 4px 4px 4px 4px;
}
.username{
	margin-left: 30px;
	padding-bottom: 10px;
}

.card {
    border: 1px solid #DDD;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);

}

.outside-card{
	width: 800px;
}
.thumbnail{
	width:  250px;
	height: 250px;
}

