.left-part{
  border-right: 1px solid #ccc;
  border-right-style: "padding-top: 50px";
  margin-left: -30px;
}

.right-part{
  margin-left: 30px;
}


.title{
  padding-bottom: 30px;
}

p{
  text-indent: 50px;

}

.btn-special{
	width:450px
}