.row.vdivide [class*='col-']:not(:last-child):after {
  background: #000000;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:30px;
  bottom: 0;
  right: 0;
  height: 500px;
  margin-right: 20px;
}
