{% extends 'base.html' %}
{%block css%}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href={{url_for('static', filename="css/donation_add.css")}}>
{%endblock%}
{% block body %}

<h1 class="title">Add Donation for Donativa</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
  <div class="form-group">
    {{render_field(form.title, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.description, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.donation_type, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.city, class_="form-control")}}
  </div>
  {% if error %}
                <div class="alert alert-danger" style="padding: 8px 8px 8px 8px">{{error}}</div>
  {% endif %}
  <div>
    {{ form.donation_date(class="dtpick") }}
    <button type="submit">Go</button>
  </div>
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}

{%block javascript %}
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( ".dtpick" ).datepicker();
  });
  </script>
{%endblock%}