{% extends "base.html" %}
{%block css%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/donation_page.css") }}">
{%endblock%}
{% block body %}
<div class="row">
	<h2>{{offer[3]}}</h2>
	<h4><small>{{format_date_hour(offer[5])}}</small></h4>
</div>
<div class="row">
	<div class="col-md-8">
		<img class="donation-image" src={{"../static/donations/"+offer[2]}}>
		<p class="lead">{{offer[4]}}</p>

	
	<div class="comments-container">
		<h1>Comments:</h1>

		<ul id="comments-list" class="comments-list">
			{%for comment in comments%}
			<li>
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name"><a href="http://creaticode.com/blog">{{get_username(mysql,comment[1])}}</a></h6>
							<h4><small>{{comment[2]}}</small></h4>
						</div>
						<div class="comment-content">
							{{comment[0]}}
						</div>
					</div>
				</div>
			</li>
			{%endfor%}
		</ul>
	</div>
	<div>
		<form action="" method=post>
	      {{ form.body(cols="107", rows="5") }}
	      <input type=submit value="Comment">
		</form>
	</div>

	</div>
	<div class="col-md-4">
		<div class="details-text">
			{%if session['logged_in']==True and session['type']==2%}
			<button type="button" class="btn btn-primary btn-lg btn-block btn-request"><a href="/send_requests/{{session['account_id']}}/{{offer[0]}}" style="color:white;">Request Donation</button>
			{%endif%}<br>
			<a href={{url_for('profile',username=get_username(mysql, offer[1]) )}}  style="font-size:17px"><span class="glyphicon glyphicon-user"></span> <h5 style="display:inline;">{{get_username(mysql,offer[1])}}</h5></a><br><br>
			<a style="font-size:17px"><span class="glyphicon glyphicon-home"></span> <h5 style="display:inline;">{{offer[10] +","}}<br>&emsp;&emsp;&emsp; {{offer[6]}}</h5></a><br><br>
			 <span class="glyphicon glyphicon-time time-icon"></span> <h5 class="time-text">{{format_date_hour(offer[5])}}</h5><br>
		</div>
		
	</div>
</div>
{% endblock %}