{% extends "base.html" %}
{% block title %}Donativa - Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="index.css") }}">
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
  <div id="hero-block" class="jumbotron">
	<h1>Change the world, one donation at a time.</h1>

    <p>With Donativa, donate your unused items to the people that need it the most through our certified charity partners. Free space in your house, give your items a second life, and help your community!</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/signup" role="button">Join the movement!</a>
    </p>
  </div>
{% endblock %}




  

