{%extends "base.html"%}
{%block css%}
{%endblock%}

{% block body %}	
	<div class="col-md-12">
	{% for j in myrequests %}
		<div class="row" >
			<div class="col-md-1 thumbnail" style="border: 1px solid #DDD">
			<img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/12208710_880517135351049_2664080044137643377_n.jpg?oh=1f045b744226807b68290d8affa4fea1&oe=59C9D4B2">
			</div>
			<div class="col-md-7">
			<h4>{% print(j[2]) %}</h4>
			<h5 style="color: grey;">{% print(j[0]) %}</h5> 
			<!--0-organisation name,1-org picture, 2-off title, 3-off id, 4-account_id-->
			</div>
			<br/><br/>
			<button type="button" class="btn btn-success"><a href="/process_requests/1/{{j[4]}}/{{ j[3]}}" style="color:white;">Accept</button>	
			<button  type="button" class="btn btn-danger"><a href="/process_requests/-1/{{j[4]}}/{{ j[3]}}" style="color:white;">Reject</a></button>
		</div>
		<hr>
	{% endfor %}
	</div>
{% endblock %}