{% extends 'base.html' %}

{% block css %}
<link type="text/css" rel="stylesheet" href={{url_for('static', filename='css/signup.css')}} />
{% endblock %}
{% block body %}
<h1>Sign-up for Donativa ...</h1>
<div class="row vdivide">
  <div class="col-md-6 left-part">
    <article>
      <h1>.. as a Donator</h1>
      <p>As a registered donor, you will have access to a catalogue of certified associations to whom you can donate your used clothes, books and other possessions.</p>
    </article>
  </div>
  <div class="divider"></div>
  <div class="col-md-6 right-part">
    <article>
      <h1>.. as an Association.</h1>
      <p>You will be able to browse through the various donations posted by other donators and submit a request to the donator when once you find one that suits your needs.</p>
    </article>
  </div>
</div>
{% endblock %}